<main>
    <div *ngIf="progress" style="position: fixed;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;background-color: rgba(0, 0, 0, 0.411);top: 0;left: 0;z-index: 2;" class="progress">
        <mat-spinner></mat-spinner>
    </div>
    <p class="heading">Fill details to book a Meeting</p>
    <div class="form">
        <form action="" [formGroup]= "myFormGroup" (ngSubmit)="submitForm(myFormGroup.value)" >
            <div>
                <mat-form-field class="example-chip-list" appearance="outline">
                    <mat-label>Team Emails</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip *ngFor="let item  of mails" (removed)="remove(item)">
                        {{item}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input formControlName="emails" placeholder="New Email..."
                             [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Select Extention Number</mat-label>
                    <mat-select formControlName="exNo" >
                        <mat-option value="206" >206</mat-option>
                        <mat-option value="505" >505</mat-option>
                    </mat-select>
                    
                </mat-form-field>
                <mat-form-field   appearance="outline" >
                    <mat-label>Enter Team Head Name</mat-label>
                    <input formControlName="teamHead" matInput placeholder="label" >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Select Start Time</mat-label>
                    <input formControlName="start_time" type="time" matInput placeholder="Placeholder">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Select End Time</mat-label>
                    <input formControlName="end_time" type="time" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Select Start Date</mat-label>
                    <input formControlName="start_date" type="date" matInput placeholder="Placeholder">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Select End Date</mat-label>
                    <input formControlName="end_date" type="date" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" >Schedule your meeting</button>
        </form>
    </div>
</main>
